/*--about-time-line--*/
.about-time-line{
	
	position: relative;
	width: 60%;
	margin: 6em auto 13em;
}
.about-time-line > li .cbp_tmicon,.cbp_tmicon1,.cbp_tmicon2,.cbp_tmicon3,.cbp_tmicon2,.cbp_tmicon4{
	width: 170px;
	height: 170px;
	position: absolute;

	text-align: center;
	left: 41%;
	margin: 0 0 0 -25px;
	display:block;
}
.cbp_tmicon1{
	left: 41%;
	top: 27%;
}
.img1{
	background:url(../images/time-line-img.jpg) no-repeat;
	background-size: 100% 100%;
}
.img2{
	background:url(../images/time-line-img1.jpg) no-repeat;
	background-size: 100% 100%;
}
.about-time-line > li .cbp_tmlabel {
	margin: 0 0 0px -19%;
	position: relative;
	
	width: 50%;
	text-align: right;

}
.about-time-line > li .cbp_tmlabel1 {
	margin: 0 0 15px 68%;
	text-align: left;
}

